*.*
*
!.gitignore
!README*
!git-inst*
!*.tcl
!Makefile
!test.*
!bsp/
!bsp/**
!build/
build/*
!build/log/
!build/log/**
!dhrystone/
!dhrystone/**
!vsrc/
!vsrc/**
!constr/
!constr/**
!benchmark/
!benchmark/**
!tb/
!tb/**
!ip/
!ip/**
!riscv-tests/
!riscv-tests/**
!fix_tcl.sh
